body{
margin:0
}
    
.web-top{
position:fixed;
width:100%;
z-index:1;
top:0
}
    
.web-nv-bar{
overflow:hidden;
padding-left:0px;
float:left;
width:100%;
border:none;
outline:0 
}
    
.web-color-black{
color:#fff;
background-color:#000
}
    
.web-right{
float:right
}
    
.web-button{
border:none;
display:inline-block;
padding:8px 16px;
vertical-align:middle;
overflow:hidden;
text-decoration:none;
color:inherit;
background-color:inherit;
text-align:center;
cursor:pointer;
white-space:nowrap
}
    
.web-button:hover{
background-color: gray;
}
    
.web-padding-large{
padding:12px 24px
}
    
.web-center{
text-align:center
}
    
.web-padding-64{
padding-top:64px;
padding-bottom:64px
}
    
.web-opacity{
opacity:0.70
}
    
.web-justify{
text-align:justify
}
    
.web-color-light-gray{
color:#000;
background-color:#f1f1f1
}
    
.web-color-black{
color:#fff;
background-color:#000
}
    
.web-content{
max-width:980px;
margin:auto
}
    
.web-medium{
font-size:15px
}
    
.web-wide{
letter-spacing: 4px;
}
    
.webSlides {
display: none;
}
    
element.style {
display: none;
}